* {
    margin: 0px;
    padding: 0px;
    font-family: 'Livvic', sans-serif;
}

body {
    color: #fff;
    background-color: #e0dede;
}

body::-webkit-scrollbar {
	width: 8px; 
}

body::-webkit-scrollbar-thumb {
	background: #1c9acc;
	border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
	background: #5cc4ec;
}

header {
    background-color: black;
    padding: 1px 0px;
    margin-bottom: 30px;
    box-shadow: 3px 8px 5px #c3c3c3;
}

h1 {
    font-size: 1.7rem;
    margin: 0px 40px;
    padding: 4px 0px;
}

#contenedor {
    width: 98%;
    margin: 10px 10px;
}

h3 {
    color: #5bc0de;
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 8px;
}

.form {
    width: 50%;
    height: auto;
    background-color: #fff;
    border-radius: 2px;
    padding: 10px 10px;
    margin: 18px 20%;
    color: rgb(17, 17, 17);
    box-shadow: 3px 8px 5px #c3c3c3;
}

h2 {
    text-align: center;
    padding: 5px 0px;
}

input[type="text"] {
    margin: 7px 20px;
    padding: 12px 7px;
    border: 1px solid #c3c3c3;
    border-radius: 1px;
    width: 90%;
    height: auto;
}

input[type="password"], input[type="email"] {
    margin: 7px 20px;
    padding: 12px 7px;
    border: 1px solid #c3c3c3;
    border-radius: 1px;
    width: 90%;
    height: auto;
}

label {
    margin: 3px 20px;
    cursor: pointer;
}

select {
    margin: 7px 20px;
    padding: 4px 1px;
    border-radius: 1px;
}

input[type="radio"] {
    margin: 10px 20px;
}

textarea {
    margin: 7px 20px;
    max-width: 93%;
    min-width: 93%;
    max-height: 100px;
    min-height: 100px;
    padding: 5px 8px;
    border: 2px solid #c3c3c3;
    border-radius: 3px;
    font-size: 1.1rem;
}

button {
    color: #fff;
    background-color: #1e922d;
    padding: 7px 10px;
    margin: 7px 40%;
    font-size: 1.2rem;
    border-style: none;
    border-radius: 1px;
    cursor: pointer;
}

.login {
    color: #fff;
    background-color: #1e922d;
    padding: 7px 10px;
    margin: 7px 20px;
    font-size: 1.2rem;
    border-style: none;
    border-radius: 1px;
    cursor: pointer;
}

button:hover {
    background-color: #2fc443;
}

button:focus {
    background-color: #2fc46d;
    color: aliceblue;
}

p {
    text-align: center;
    padding: 3px 0px;
}

/* Color verde de actualizacion del message */
.verde {
    color: green;
    font-size: 1.1rem;
}

/* Color rojo de error de actualizacion del message */
.rojo {
    color: red;
    font-size: 1.1rem;
}

/* Foto de perfil */

.perfil {
    height: 120px;
    width: auto;
    border-radius: 100%;
    cursor: pointer;
}

/* Selecionar foto de perfil */
#mas {
    height: 35px;
    width: auto;
}

#center {
    width: 100%;
    margin: 0px 36%;
}

#texto{
	text-align: center;
    color:white;
}

#div_file{
	position:relative;
	margin:10px;
	padding:5px;
	width:25%;
	background-color: #2499e3;
	-webkit-border-radius:5px;
    -webkit-box-shadow:0px 3px 0px #1a71a9;
}

#my_foto{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	width:100%;
	height:100%;
    opacity: 0;
    cursor: pointer;
}

.enviar_foto {
    width: 26%;
    margin: 0px 38%;
    border-radius: 4px;
}

/* Editar usuario */
.right {
    float: right;
}

a {
    text-decoration: none;
    color: #1c9acc;
    cursor: pointer;
}

a:hover {
    color: #5cc4ec;
}

a:focus {
    color: #1ccc91;
}

p {
    color: #606161;
}

.errors {
    background-color: rgb(170, 143, 143);
    border-radius: 3px;
    border: 2px solid rgb(223, 81, 81);
    width: 50%;
    height: auto;
    margin: 15px 20%;
    padding: 10px 10px;
}

small {
    color: #fff;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.inicio_error {
    color: red;
    font-size: 1.1rem;
    text-align: center;
}

/* Sesion del home */

.salir {
    color: #1c9acc;
    cursor: pointer;
    font-size: 1.2rem;
    margin: 0px 20%;
    border-bottom: 4px solid #ccba1c;
}

.salir:hover {
    color: #5cc4ec;
}

.salir:focus {
    color: #1ccc91;
}

article {
    padding: 20px 20px;
    width: 50%;
    height: auto;
    border-radius: 3px;
    background-color: #fff;
    margin: 20px 20%;
    box-shadow: 10px 10px 8px #c3c3c3;
}

.parrafo {
    text-align: justify;
    color: rgb(51, 49, 49);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}